 :root {
    --green-200: hsl(148, 38%, 91%);
    --green-600 : hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500 : hsl(186, 15%, 59%); 
     --grey-900: hsl(187, 24%, 22%);

}



.karla-400 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.karla-700 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
 
 body {
    background-color: var(--green-200);
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    place-content: center;
 }

 #contact-form {
    background-color: var(--white);
    display: grid;
    /* Mobile */
    inline-size: 21.4rem;
    padding-inline: 1.5rem;
 }

fieldset {
    all: unset;
}
 .form-controls {
    display: grid;
 }


.form-controls-full-width {
    grid-column: 1 / -1;
}
.form-heading {
    color: var(--grey-900);
}
label:has(input[name="query"]) {
    /* border: 1px solid red; */
}

.radio-con {
    display: grid;
    gap: 10px;
   
}


 @media (min-width: 35rem) {
    #contact-form {
        grid-template-columns: 1fr 1fr;
    }

    .radio-con {
        grid-template-columns: 1fr 1fr;
    }
 }