 :root {
    --green-200: hsl(148, 38%, 91%);
    --green-600 : hsl(169, 82%, 27%);
    --red: hsl(0, 66%, 54%);
    --white: hsl(0, 0%, 100%);
    --grey-500 : hsl(186, 15%, 59%); 
     --grey-900: hsl(187, 24%, 22%);

}



.karla-400 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.karla-700 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
 .asterick {
    color: var(--green-600);
 }
 body {
    background-color: var(--green-200);
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    place-content: safe center;
 }

 #contact-form {
    background-color: var(--white);
    display: grid;
    gap: 1.5rem;
    border-radius: 15px;
    /* Mobile */
    inline-size: 21.4rem;
    /* block-size: 54.3rem; */
    padding-inline: 1.5rem;
    padding-block-start: 1.1rem;
 }





fieldset {
    all: unset;
}
 .form-controls {
    display: grid;
    gap: 0.5rem;
 }


.form-controls-full-width {
    grid-column: 1 / -1;
}
.form-error-hide {
    display: none;
}
.form-heading {
    color: var(--grey-900);
    font-size: 1.9rem;
    
    
}

input{
    padding-block: 0.8rem;
    padding-inline: 1.4rem;
    border-radius: 8px;
    border: 1px solid var(--green-600);
}

label:has(input[name="query"]) {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.08rem;
    padding-block: 0.7rem;
    padding-inline: 1.6rem;
    border-radius: 8px;
    border: 1px solid var(--green-600);
}
/* label[for='consent'] {
    display: flex;
    align-items: center;
} */
.test {
    display: flex;
    align-items: center;
}
input[type="checkbox"] {
    accent-color: var(--green-600);
    width: 17px;
    height: 17px;
}
input[type="radio"] {
    /* all: unset ; */
    accent-color: var(--green-600);
    width: 20px;
    height: 20px;
    
    /* border: 20px solid r; */
}

.radio-con {
    padding-block-start: 1rem;
    display: grid;
    gap: 1rem;
  
}

textarea {
    border-radius: 8px;
    resize: none;
    height: 15rem;
    border: 1px solid var(--green-600);
}


 @media (min-width: 35rem) {
    #contact-form {
        grid-template-columns: 1fr 1fr;
    }

    .radio-con {
        grid-template-columns: 1fr 1fr;
    }
 }